body {
  background-color: #eee;
}

.carousel {
  bottom: 0;
  display: block;
  left: 0;
  margin: 5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.slide-panel {
  height: 100%;
  position: relative;
}

.slide {
  background-position: center;
  background-size: cover;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
  width: 100%;
  z-index: 1;
}

.visible {
  opacity: 1;
  z-index: 2;
}

.arrow {
  align-items: center;
	cursor: pointer;
  display: grid;
	font-size: 4rem;
  height: 100%;
	position: absolute;
  width: 4rem;
  z-index: 3;
}

.arrow.left {
  left: 0;
  padding-left: 0.5rem;
}

.arrow.right {
  padding-right: 0.5rem;
  text-align: right;
  right: 0;
}
