$carousel-color: #0060ca;

body {
  background-color: #91ceff;
}

.hidden {
  opacity: 0;
}

.carousel {
  bottom: 0;
  display: block;
  left: 0;
  margin: 5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.slide-panel {
  height: 100%;
  position: relative;
}

.slide {
  background-position: center;
  background-size: cover;
  border: 3px solid $carousel-color;
  border-radius: 1rem;
  box-sizing: border-box;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
  width: 100%;
  z-index: 1;
}

.visible {
  opacity: 1;
  z-index: 2;
}

.arrow {
  align-items: center;
  color: $carousel-color;
	cursor: pointer;
  display: grid;
	font-size: 4rem;
  height: 100%;
	position: absolute;
  z-index: 3;
}

.arrow.left {
  left: 0;
  padding-left: 0.5rem;
  padding-right: 2rem;
}

.arrow.right {
  padding-left: 2rem;
  padding-right: 0.5rem;
  right: 0;
}

.pipbar {
  bottom: 1rem;
  color: $carousel-color;
  font-size: 1.3rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 3;
}
